.main {
  padding-top: 70px;
  background-color: #f5f6f8;
  min-height: 100vh;
  height: 100%;
}

.main .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main .profile {
  top: -58px !important;
}

.main .profile .banner-header {
  height: 300px;
}

.main .profile .banner-header .update-banner {
  position: absolute;
  bottom: 45px;
  font-size: 12px;
  left: 210px;
}

.main .profile .avatar {
  height: 180px;
  width: 180px;
  position: absolute;
  left: 20px;
  top: 65px;
}

.main .profile .controller-header {
  width: calc(100% - 40px);
  background-color: #fff;
  position: absolute;
  top: 250px;
  left: 20px;
  margin-left: 0;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  border-radius: 0 4px 4px 4px;
}

.main .profile .controller-header .center-item {
  height: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.main .profile .controller-header .center-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.active {
  color: #f2ba49;
  border-bottom: 3px solid #f2ba49;
}

.active div {
  color: #f2ba49;
}
